/*!!
* Layout
* @module layout
* @class header
* @author Jhonnatan Castro
*/

header
	width 100%	
	.top_bar
		background $black_1c
		a.iso_type
			sprite($iso_tipo)
			float left
		ul.externals
			float left
			margin-top 12px
			//+to(2)
			//	display none
			li
				+tablet()
					&:first-child
						a
							padding-left 15px
				display_inline()
				a
					+tablet()
						padding 0 5px
						font-size 13px
					color white
					padding 0 15px
					font-family $familyHelvetica
					font-size 14px
		.wrapper_right
			//+to(2)
			//	float none
			float right
			margin-top 7px
			.btn_publish
				float left
				//+to(2)					
				//	padding-top 6px
				//	&:after
				//		top 6px
				//	margin-left 11px
				+tablet()
					margin-top 1px
					padding-top 3px
					font-size 13px
					padding 4px 32px 5px 10px
					&:after
						top 5px
						right 8px
			ul.account
				+mobile()
					display none
				float right
				margin 5px 10px 0 10px
				li
					color white
					float left
					&.register_link
						a
							color $orange_01
					&.text
						margin 0 5px
					&.login_link
						a
							color white
					a						
						//+to(2)
						//	font-size 15px
						font-family $familyHelvetica
						font-size 14px
			.icon_help
				width 16px
				height 16px
				background $orange_01
				float right
				margin-top 7px
				//+to(2)
				//	display none
