script(src="#{page.static_url}js/dist/libs/jquery/dist/jquery.min.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yosonjs/dist/yoson.js#{page.version}", type="text/javascript")
script(src="#{page.static_url}js/dist/libs/yosonjs-utils/yosonjs-utils.js#{page.version}", type="text/javascript")

//script(src="#{page.static_url}js/dist/scripts/modules/mimodulo/Account/Account.js#{page.version}", type="text/javascript")


