header
	section.top_bar
		.center_box
			a.iso_type(href="#")
			ul.externals
				li
					a(href="#") Blog
				li 
					a(href="#") Ferias
				li 
					a(href="#") Club Neoauto
			
			.wrapper_right
				a#btnPublishAd.btn_gray.btn_publish(href="#") Publica tu Vehículo
				a.icon_help(href="#")
				ul.account
					li.login_link
						a(href="#") Registrate
					li.text o
					li.register_link
						a(href="#") Ingresa

	section
		.center_box