/*
* Buttons
* @module buttons
*/


.btn
	position relative
	z-index 1
	height 42px
	display inline-block
	line-height 42px
	text-align center
	border none
	background $yellow_01
	font-family $familyEvogriaItalic
	text-transform uppercase
	border-radius 5px
.btn_gray
	font-family $familyEvogriaItalic	
	border-radius 5px
	text-align center
	color white
	text-transform uppercase
	&.btn_publish
		background $gray_4c
		padding 5px 40px 5px 15px
		position relative
		font-size 14px
		&:after
			content ' '
			position absolute
			top 3px
			right 12px
			sprite($icon_btn_publish)
.button_yellow
	.btn_arrow_shadow
		button
			width 100%
			border-radius 0
		margin 0 30px 0 15px
		position relative
		&:before
			content ' '
			position absolute
			top 0
			sprite($button_back_shadow)
			left -15px
			z-index 5
		&:after
			content ' '
			position absolute
			top 0
			sprite($button_front_shadow)
			right -30px
			z-index 5
	img
		position relative
		bottom rem(10px)
		z-index 0
		height rem(3px)
		width 100%
.button
	position relative
	margin 0 0 5px 0
	&.button_arrow
		button
			margin 0 30px 0 15px
			border-radius 0
		&:before
			content ' '
			position absolute
			top 0
			sprite($button_back)
			left 0
			z-index 5
		&:after
			content ' '
			position absolute
			top 0
			sprite($button_front)
			right 0
			z-index 5
	&.unactive
		button
			background $gray_e3
		&:before
			sprite($button_back_unactive)
		&:after
			sprite($button_front_unactive)
	img
		position absolute
		left 0
		bottom -10px
		z-index 0
