/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$icon_btn_publish_name = 'icon_btn_publish';
$icon_btn_publish_x = 49px;
$icon_btn_publish_y = 0px;
$icon_btn_publish_offset_x = -49px;
$icon_btn_publish_offset_y = 0px;
$icon_btn_publish_width = 20px;
$icon_btn_publish_height = 20px;
$icon_btn_publish_total_width = 69px;
$icon_btn_publish_total_height = 43px;
$icon_btn_publish_image = '../../../img/main_sprite.png';
$icon_btn_publish = 49px 0px -49px 0px 20px 20px 69px 43px '../../../img/main_sprite.png' 'icon_btn_publish';
$iso_tipo_name = 'iso_tipo';
$iso_tipo_x = 0px;
$iso_tipo_y = 0px;
$iso_tipo_offset_x = 0px;
$iso_tipo_offset_y = 0px;
$iso_tipo_width = 49px;
$iso_tipo_height = 43px;
$iso_tipo_total_width = 69px;
$iso_tipo_total_height = 43px;
$iso_tipo_image = '../../../img/main_sprite.png';
$iso_tipo = 0px 0px 0px 0px 49px 43px 69px 43px '../../../img/main_sprite.png' 'iso_tipo';
$spritesheet_width = 69px;
$spritesheet_height = 43px;
$spritesheet_image = '../../../img/main_sprite.png';
$spritesheet_sprites = $icon_btn_publish $iso_tipo;
$spritesheet = 69px 43px '../../../img/main_sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
