
/**
* Mixins
* @class Mixins
*/


/* Units conversion */
// example usage
// em(20px)
// em(16px, 20px)   // Optional second parameter: redefines basefont size

font_em(size, parentFontSize = 0)
	if parentFontSize == 0
		font-size round(( size / $basefont )em , 3)
	else
		font-size round(( size / parentFontSize )em , 3)

rem_tmp($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = round(( arguments[$i] / $basefont )rem , 3)
	return $list

rem($list)
	$max = length(arguments)
	for $i in (0..$max - 1)
		$list[$i] = arguments[$i]
	return $list

px(size)
	font-size ( size * $basefont )px

px_to_rem_font(size1, size2, family)
	//s1 = round(( size1 / $basefont )rem , 3)
	//s2 = round(( size2 / $basefont )rem , 3)
	//return s1\/s2 family
	return (size1)px \/ (size2)px family

px_to_rem(size)
	return size px

pxper(size, parent = $wrapperWidth)
	return round((size / parent * 100)%, 2)




iScroller(heightContent = 155px, widthScroll = 800px)
	padding 10px 0px 10px 10px
	position relative
	width 100%
	height heightContent
	overflow hidden
	-ms-touch-action none
	iScroller_wrapper(widthScroll)

iScroller_wrapper(widthScroll)
	> div
		-webkit-tap-highlight-color rgba(0,0,0,0)
		-webkit-touch-callout none
		position absolute
		text-size-adjust none
		transform translateZ(0)
		user-select none
		width widthScroll
		z-index 1