//Hacer un propio layout de neoauto

html
	font-size $basefont
	//+tablet()
	//	font-size $tabletfont
	//+mobile()
	//	font-size $mobilefont
body
	-webkit-text-size-adjust 100%
	background white
	font-family $familyDefault
	left 0
	margin 0
	padding 0
	position relative
	transition all 0.3s ease
hr
	margin 1.5em 0
	text-align center
	border none
	//border-bottom 1px solid $grey20
	&.medium
		//border-bottom 2px solid $grey20
	&.dashed
		//border 1px dashed $grey70
	&.special
		border none
		//border-top 2px solid $grey10
		height 1px
		&:after
			background #fff
			//color $grey10
			content "o"
			font-size 16px
			padding 0 0.25em
			position relative
			top -13px
		+mobile()
			display block

aside
	> div
		margin 10px 0 0
		&:first-child
			margin-top 0
ul
	margin 0
	padding 0
	list-style none


h2
	font_em(30px)
h3
	font_em(17px)
	margin 0 0 20px 0
h4
	margin 0 0 10px 0
h5
	margin 0 0 15px 0

a
	text-decoration none
	color $blue
	outline 0
	&:focus
		outline none
	&.type_white
		text-decoration underline
		color white
		&:hover, &:active
			color $linkHover
	&:hover
	&:active
	&:focus
		outline none

.center_box
	position relative	
	center($wrapperRupture)
	padding 0 10px

.row
	cf()


.select
	display inline-block
	vertical-align top
	margin 0 8px 0 0
	background white
	border 1px solid white
	border-radius 3px
	position relative
	&.select_big
		display block
		margin 0
	&.disabled
		//background-color $gray_bb !important
		//border 1px solid $gray_bb !important
	> span.selectImg
		sprite($select)
		position absolute
		top 50%
		margin -4px 0 0 0
		right 8px
		z-index 4
	> span.selectText
		position absolute
		height 100%
		line-height 36px
		padding 0 20px 0 6px
		//color $gray_4a
		font-family $familyMediumItalic
		z-index 3
	> select
		position relative
		opacity 0
		filter unquote('alpha(opacity=0)')
		z-index 5
		height 34px !important
.checkbox
	position relative
	> *
		display inline-block
		vertical-align top
	> input[type = checkbox]
		width 20px
		margin 3px 10px 0 0
	> span
		width 300px
		font-size rem(13px)
/*
--- SUBMENU
*/
.sub_menu_box
	ul
		margin-bottom 14px
	li
		float left
		border-bottom 5px solid transparent
		a
			display block
			font-size 17px
			padding 18px 24px 6px 24px
			position relative
			span
				background #fc3025
				border-radius 12px
				color #FFF
				display inline-block
				font-size 12px
				min-width 20px
				padding 4px
				position absolute
				right 0
				text-align center
				top 3px
		&:hover,&.is_active
			border-bottom 5px solid #3c99d0
	+tablet()
		li
			a
				font-size 15px
	+mobile()
		display none
